<div class="principal">
  <div class="Holaa">
    <form  [formGroup]="formulario2" (ngSubmit)="guardar()">

      <label for="nombre">Nombre</label>
      <input
      type="text"
      placeholder="Nombre"
      formControlName="nombre">
      <!--Spans-->
      <span *ngIf="nombreNoValid"
      [style.color]="'red'">
        Este campo debe tener mas de 5 caracteres
      </span>

      <label for="apellido">Apellido</label>
      <input
      type="text"
      placeholder="Apellido"
      formControlName="apellido">
      <!--Spans-->
      <span *ngIf="apellidoNoValid"
      [style.color]="'red'">
        Este campo debe tener mas de 5 caracteres
      </span>

      <label for="email">Email</label>
      <input
      type="text"
      placeholder="Email"
      formControlName="email">
      <!--Spans-->
      <span *ngIf="emailNoValid"
      [style.color]="'red'">
        Este campo requiere mas de 5 caracteres
      </span>

      <input type="submit" value="Enviar" name="email">
    </form>
  </div>
</div>
