
/* Inicio*/
.contenido{
  width: 100%;
  padding: 5px;
  margin: 5px;
  margin-top: 5px;
  opacity: 1;
  height: 100px;
  align-items: center;
}

.contenido-2{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.contenido a{
  font-size: 40px;
  color: black;
  font-weight: bold
}

.contenido .contenido-input{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.contenido .contenido-input input[type="text"]{
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  font-size: 20px;
}
/*Final del inicio */

.principal{
  padding: 20px;
  padding-top: 0px;
}

#mio{
  padding-left: 15px;
  font-family: 'Yanone kaffeesatz';
  font-weight: bold;
}
.cards{
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 10px;
  text-align: center;
  margin: 0px auto;
}

.card{
  width: 250px;
}
