.principal{
  padding: 20px;
  padding-top: 0px;
}

#mio{
  padding-left: 15px;
  font-family: 'Yanone kaffeesatz';
  font-weight: bold;
}
.cards{
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 10px;
  text-align: center;
  margin: 0px auto;
}

.card{
  width: 250px;
}
