


<div class="contenido">
  <div class="contenido-2">
  <a href="#" [routerLink]="['/tenis']"> <i class="fab fa-airbnb">E-Commerce</i></a>

  <div class="contenido-input">
    <input type="text" (change)="cambiar()">

  </div>
</div>
</div>


<div class="principal">
  <div class="cards">
    <div class="card" *ngFor="let lista of tenis; let i = index">
      <div class="card-img">
        <img src="{{lista.img}}" alt="icon">
      </div>
      <div class="card-text">
        <h1>{{lista.marca}}</h1>
        <span>Lorem ipsum dolor sit amet consectetur <strong>{{lista.precio}}</strong></span>
        <p>{{lista.color}}</p>
        <button class="btn btn-success mb-2" (click)="verMas(i)">Ver mas</button>
      </div>
    </div>
  </div>
</div>
