<div class="contenido">
  <form class="formularioo" #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
    <label for="champion">Champion Name</label>
    <input type="text" name="name" #name="ngModel" [(ngModel)]="champion.champion">

    <label for="champion">Champion Type</label>
    <input type="text" name="type" #type="ngModel" [(ngModel)]="champion.type">

    <label for="champion">Position Champion</label>
    <input type="text"  name="positon" #position="ngModel" [(ngModel)]="champion.position">

    <input type="submit" value="Enviar" class="btn btn-primary">
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>Champion Name</th>
        <th>Champion Type</th>
        <th>Champion Position</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lista of myChamp; let il = index">
        <td>{{lista.champion}}</td>
        <td>{{lista.position}}</td>
        <td>{{lista.type}}</td>
        <button class="btn btn-danger" (click)="borrar(lista, il)">
          Borrar
        </button>
      </tr>
    </tbody>
  </table>
</div>
